.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

li > .completed {
  text-decoration: line-through;
}

li > .btn_remove {
  display: none;
}

li:hover > .btn_remove {
  display: unset;
}
