.App {
  margin: 0 auto;
  width: 300px;
}

.App h2, form {
  text-align: center;
}

form > input[type=text] {
  width: 90%;
}

ul {
  list-style-type: none;
}

.todo-item > .completed {
  text-decoration: line-through;
}

.todo-item > .todo-content {
  display: inline-block;
}
.todo-item > .btn_remove {
  display: none;
}

.todo-item:hover > .btn_remove {
  display: unset;
}
