.App {
  margin: 0 auto;
  width: 300px;
}

.App h2, form {
  text-align: center;
}

form > input {
  height: 1.5em;
}
form > input[type=text] {
  width: 76%;
}

form > input[type=number] {
  width: 12%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > .todo-item {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 2em;
}

button {
  height: 2em;
  width: 2em;
  padding: 0 0;
}

.todo-item > .completed {
  text-decoration: line-through;
}

.todo-item > .todo-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-item > .btn_remove {
  display: none;
}

.todo-item:hover > .btn_remove {
  display: unset;
}
