/* 

Trying to follow BEN conventions and tips from here 
https://www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/

*/

.entry {
  list-style: none;
  position: relative; /* to create stacking context for MoreMenu*/
}

.entry__text {
  font-family: Helvetica, Arial, sans-serif;
}

.tooltip {
  position: relative;
}

.tooltip__text {
  visibility: hidden;
  background-color: rgba(100, 100, 100, .6);
  border-radius: 4px;
  padding: 0 4px;

  position: absolute;
  z-index: 1;
  bottom: 140%;
  white-space: nowrap;
  margin-left: -400%;
}

.tooltip__text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 78%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(100, 100, 100, .6) transparent transparent;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}
