.todos-container ul {
  list-style-type: none;
  padding: 0;
}

.todos-container ul > .todo-item {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 1em 0;
}

.todo-item__text, .todo-item__text * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed  {
  text-decoration: line-through;
}

.todos-container .todo-item > .todo-content {
  display: flex;
  width: 100%;
}
