.todos-container ul {
  list-style-type: none;
  padding: 0;
}

.todos-container ul > .todo-item {
  display: grid;
  grid-template-columns: 7% 83% 10%;
  margin: 1em 0;
}

.completed  {
  text-decoration: line-through;
}

.todos-container .todo-item > .todo-content {
  display: flex;
  width: 100%;
}
